fastapi==0.111.0
uvicorn==0.30.1
torch==2.1.2
torchvision==0.16.2
monai==1.3.0
nibabel==5.2.1
opencv-python==4.9.0.80
scikit-image==0.22.0
scipy==1.12.0
numpy==1.26.4
pandas==2.2.2
pydantic==2.7.4
python-multipart==0.0.9
requests==2.31.0
python-dotenv==1.0.1
